$theme-name: 'theme_cold';

//common
$primary-text: #161616;
$primary-fill: #fff;

//header
$header-bg: #fff;
$header-menu-bg: rgba(23, 21, 21, .72);
$header-link: #fff;
$header-link-hov: #e44f36;

//burger
$burger-line: #161616;
$burger-line-hov: #e44f36;
$burger-close: #161616;
$burger-close-hov: #e44f36;

//footer
$footer-bg: #161616;
$footer-bd: #161616;
