mixin header()
    header.header.js-header
        .header__wrapper.w-center
            .header__burger-menu-wrap.js-header-burger
                .header__burger-menu
                    span
                    span
                    span
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="#contacts") Contacts