body {
    height: 100%;
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include respond-from(to-sm) {
        font-size: $font-size-xs;
    }

    font-size: $font-size;
}

.w-wrapper {

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

}


.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}
